#LZTUpModalBackdrop {
  z-index: 10001;
}

#LZTUpModal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#LZTUpModal {
  z-index: 10002;
  padding-right: 17px;
  outline: currentcolor none medium;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#LZTUpOverlay {
  top: 10%;
  margin-bottom: 5%
}

#LZTUpBtnIcon {
  width: 14px;
  height: auto;
  padding-right: 4px
}

#LZTUpModalComment {
  background: rgb(54, 54, 54);
  margin: 5px 15px;
  padding: 10px 15px;
  border-radius: 10px;
}

#LZTUpModalComment a {
  color: rgb(0, 186, 120);
}

#LZTUpModalHeading {
  margin: 25px 15px 2px;
}

#LZTUpModalText {
  margin: 0px 15px 5px;
  width: 400px;
}

#LZTUpUniqueStyle, #LZTUpBannerStyle, #LZTUpBadgeIcon {
  min-height: 75px;
  width: 400px;
  margin: 0px 15px;
  overflow-y: hidden;
}

#LZTUpSaveUniqueStyle, #LZTUpSaveBannerStyle, #LZTUpSaveBadgeIcon {
  width: 100px;
  margin: 15px;
}

#LZTUpBannerText, #LZTUpBadgeText {
  width: 400px;
  margin: 0px 15px;
}

#LZTUpResetUniqueDB, #LZTUpResetSettingsDB {
  min-width: 150px;
  margin: 15px
}

#LZTUpModalExitButtonCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#LZTUpModalScrollContent {
  height: 670px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#LZTUpSaveBannerText, #LZTUpSaveBadgeText {
  width: 100px;
  margin: 0px 15px;
}

#LZTUpModalExitButtonRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 10px;
}

#LZTUpBadgeFillContainer, #LZTUpBadgeStrokeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100px
}

#LZTUpTabs {
  border: none;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#LZTUpTab {
  position: relative;
  padding: 10px;
  list-style: none;
}

#LZTUpList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 15px;
}

#LZTUpListItem {
  max-width: 284px;
  flex-basis: 50%;
  flex-grow: 1;
  height: 64px;
  display: flex;
  align-items: center;

  transition: all 0.5s ease;
}

#LZTUpListItem:hover {
  background: rgba(54, 54, 54, 0.75);
  border-radius: 8px;
  cursor: pointer;
}

#LZTUpListIcon {
  width: 28px;
  height: 28px;
  margin: 20px;
}

#LZTUpListText {
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

#LZTUpModalContainer {
  margin: 15px;
  width: 400px;
}

#LZTUpModalChecksContainer {
  margin: 15px;
  width: 550px;
}

#LZTUpModalChecksText {
  margin: 0px 25px 5px;
}