#LZTUpModalBackdrop {
  z-index: 10001;
}

#LZTUpModal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#LZTUpModal {
  z-index: 10002;
  padding-right: 17px;
  outline: currentcolor none medium;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#LZTUpOverlay {
  top: 10%;
  margin-bottom: 5%
}

#LZTUpBtnIcon {
  width: 14px;
  height: auto;
  padding-right: 4px
}

#LZTUpModalComment {
  background: rgb(54, 54, 54);
  margin: 5px 15px;
  padding: 10px 15px;
  border-radius: 10px;
}

#LZTUpModalComment a {
  color: rgb(0, 186, 120);
}

#LZTUpModalHeading {
  margin: 25px 15px 2px;
}

#LZTUpModalText {
  margin: 0px 15px 5px;
  width: 400px;
}

#LZTUpUniqueStyle, #LZTUpBannerStyle, #LZTUpBadgeIcon {
  min-height: 75px;
  width: 400px;
  margin: 0px 15px;
  overflow-y: hidden;
}

#LZTUpSaveUniqueStyle, #LZTUpSaveBannerStyle, #LZTUpSaveBadgeIcon {
  width: 100px;
  margin: 15px;
}

#LZTUpBannerText, #LZTUpBadgeText {
  width: 400px;
  margin: 0px 15px;
}

#LZTUpResetUniqueDB, #LZTUpResetSettingsDB {
  min-width: 150px;
  margin: 15px
}

#LZTUpModalExitButtonCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#LZTUpModalScrollContent {
  height: 670px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#LZTUpSaveBannerText, #LZTUpSaveBadgeText {
  width: 100px;
  margin: 0px 15px;
}

#LZTUpModalExitButtonRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 10px;
}

#LZTUpBadgeFillContainer, #LZTUpBadgeStrokeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100px
}

#LZTUpTabs {
  border: none;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#LZTUpTab {
  position: relative;
  padding: 10px;
  list-style: none;
  font-size: 14px;
}

#LZTUpList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 15px;
}

#LZTUpListItem {
  max-width: 284px;
  flex-basis: 50%;
  flex-grow: 1;
  height: 64px;
  display: flex;
  align-items: center;

  transition: all 0.5s ease;
}

#LZTUpListItem:hover {
  background: rgba(54, 54, 54, 0.75);
  border-radius: 8px;
  cursor: pointer;
}

#LZTUpIcon {
  width: 28px;
  height: 28px;
  margin: 20px;
  font-size: 28px;
  color: #0daf77;
}

#LZTUpIcon.gray {
  color: rgb(148, 148, 148);
}

#LZTUpIcon.right {
  text-align: right;
}

#LZTUpText {
  display: block;
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

#LZTUpSubText {
  display: block;
  margin-right: 20px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  color: rgb(148, 148, 148);
}

#LZTUpModalContainer {
  margin: 15px;
  width: 400px;
}

#LZTUpModalChecksContainer, #LZTUpModalReportButtonsContainer, #LZTUpModalCell, .LZTUpModalMesh {
  margin: 15px;
  width: 550px;
}

#LZTUpModalChecksText {
  margin: 0px 25px 5px;
}

#LZTUPReportButton {
  font-weight: bold;
  padding: 3px 10px;
  background: #218e5d;
  border-radius: 50px;
  margin-right: 5px;
  cursor: pointer;
}

#LZTUpModalMainTitle {
  text-align: center;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
}

#LZTUPErrorPage {
  background-color: #272727;
}

#LZTUPErrorPage article {
  color: #d6d6d6;
}

#LZTUPErrorPage article div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#LZTUpModalBackButton {
  position: absolute;
  top: 18px;
  left: 25px;
  padding: 0px 5px;
  margin: -4px -5px;
  cursor: pointer;
  line-height: 25px;
  height: 26px;
  width: 26px;
  border: 0 !important;
  background: transparent;
  color: #d6d6d6;
  font-size: 18px;
}

#LZTUpModalBackButton:hover {
  background: rgb(18 76 50 / 40%);
  border-radius: 8px;
}

.LZTUpModalMesh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.LZTUpModalMeshItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  max-width: 220px;
  flex: 1 1 auto;
  cursor: pointer;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 8px;
  background: rgb(52, 52, 52);
}

.LZTUpModalMeshItem.theme {
  max-width: 130px;
  max-height: 60px;
  height: 60px;
}

.LZTUpModalMeshItem:hover {
  background: rgb(58, 58, 58);
}

.LZTUpModalMeshItem.active {
  border: 3px solid rgb(34, 142, 93);
}

.LZTUpModalMeshItem img {
  max-width: 100px;
  max-height: 60px;
  min-height: 36px;
  margin: auto;
}

.LZTUpModalMeshItemName {
  display: block;
  align-self: start;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.LZTUpModalMeshItem.theme > .LZTUpModalMeshItemName {
  font-size: 15px;
}

.LZTUpModalMeshItemAuthor {
  display: block;
  align-self: start;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(148, 148, 148);
}

.LZTUpModalMeshItemAuthor a {
  color: rgb(148, 148, 148);
}

.LZTUpModalMeshItemAuthor a:visited, .LZTUpModalMeshItemAuthor a:click {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.LZTUpModalSection {
  margin: 5px 5px;
  width: 98%;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.LZTUpModalSection:hover {
  background: rgba(54, 54, 54, 0.75);
  cursor: pointer;
}

.LZTUpModalSectionContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.LZTUpModalSectionTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
}

.LZTUpModalSectionTexts > #LZTUpSubText {
  width: 450px;
}

#LZTUpButton {
  color: #0daf77;
}

@keyframes backgroundEffectAnimate { 
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}

.backgroundEffect {
  display: grid;
  place-items: center;
  width: 100%;
  position: absolute;
  margin-top: -100px;
  background-image: url(https://i.imgur.com/ivexJPJ.png), url(https://i.imgur.com/TSvcQA4.png), url(https://i.imgur.com/BEkiDsa.png);
  animation: backgroundEffectAnimate 20s linear infinite;
  filter: brightness(75%) blur(2px) opacity(50%);
}

.LZTUpPollResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#LZTUpIconButton {
  max-width: 100%;
  flex-basis: 50%;
  height: 64px;
  display: flex;
  align-items: center;

  transition: all 0.5s ease;
}

#LZTUpIconButton > #LZTUpText {
  width: fit-content;
  white-space: normal;
}

#LZTUpIconButton:hover {
  background: rgba(54, 54, 54, 0.75);
  border-radius: 8px;
  cursor: pointer;
}
.LZTUpModalBlock {
  display: flex;
}

.LZTUpModalBlockButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.LZTUpModalBlockButtons .button {
  margin: 5px;
  width: 250px;
}

.vpnNotice:after {
  display: inline-block;
  width: 32px;
}

.LZTUpSubMenu .previewContainer {
  float:right;
  margin-left:25px;
  margin-top: 25px;
}

.LZTUpSubMenu .previewContainer > .avatarBox,
.LZTUpSubMenu .previewContainer > .info {
  display:table-cell;
  vertical-align:top
}

.LZTUpSubMenu .previewContainer .avatarBox {
  position:relative
}

.LZTUpSubMenu .previewContainer .avatarBox > .avatarUserBadges .avatarUserBadge {

  position:absolute;
  bottom: -12px;
  left:20px;
  background:rgb(54, 54, 54);
  border:2px solid rgb(39, 39, 39);
  font-size:0;
  width:22px;
  height:22px;
  margin:0;
  line-height:22px;
  border-radius:50%;
  text-align:center;
  text-shadow:none !important;
  box-shadow:none !important;
  border-radius:50% !important;
  -webkit-background-clip:unset !important;
  -webkit-text-fill-color:unset !important;
  overflow:hidden
}

.LZTUpSubMenu .previewContainer .avatarBox > .avatarUserBadges .avatarUserBadge:only-child {
  left: 35px
}

.LZTUpSubMenu .previewContainer .avatarBox > .avatarUserBadges .avatarUserBadge.avatarUserBadge--1 {
  bottom: -10px;
  left:10px
}

.LZTUpSubMenu .previewContainer .avatarBox > .avatarUserBadges .avatarUserBadge.avatarUserBadge--2 {
  bottom: -10px;
  left:30px
}

.previewContainer .avatar img{
  width:66px;
  height:66px
}

.LZTUpSubMenu .previewContainer .info{
  padding:0 0 0 20px
}

.LZTUpSubMenu .previewContainer .info .username {
  font-weight:600
}

.LZTUpSubMenu .previewContainer .bannerOrStatus{
  min-width:150px;
  margin:10px 0 0;
  color:rgb(148, 148, 148)
}

.LZTUpSubMenu .previewContainer .bannerOrStatus > em{
  font-style: inherit;
}

.LZTUpSubMenu .avatarUserBadge .customUniqIcon {
  padding:2px 0;
  text-align:center
}

.LZTUpSubMenu .avatarUserBadge .customUniqIcon svg{
  width:16px !important;
  height:16px !important
}

.LZTUpSubMenu .avatarUserBadge::before{
  font-family:'Font Awesome 5 Pro';
  font-weight:600;
  display:inline-block;
  font-size:12.32px
}

.LZTUpSubMenu .avatarUserBadge.admin{
  background:rgb(150,68,72)
}

.LZTUpSubMenu .avatarUserBadge.admin::before,
.LZTUpSubMenu .avatarUserBadge.bot::before{
  content:'\f0ad'
}

.LZTUpSubMenu .avatarUserBadge.Designer::before{
  content:'\f568'
}

.LZTUpSubMenu .avatarUserBadge.headDesigner::before{
  content:'\f568'
}

.LZTUpSubMenu .avatarUserBadge.editor::before{
  content:'\f303'
}

.LZTUpSubMenu .avatarUserBadge.sponsor::before{
  content:'\f155'
}

.LZTUpSubMenu .avatarUserBadge.coder::before{
  content:'\f7ea'
}

.LZTUpSubMenu .avatarUserBadge.uniq_default::before,
.LZTUpSubMenu .avatarUserBadge.Legend::before,
.LZTUpSubMenu .avatarUserBadge.Ikarus::before{
  content:'\f004'
}

.LZTUpSubMenu .avatarUserBadge.moder{
  background:#3d6b39
}

.LZTUpSubMenu .avatarUserBadge.curator{
  background:#089c7ad9
}

.LZTUpSubMenu .avatarUserBadge.moder::before,
.LZTUpSubMenu .avatarUserBadge.main_moder::before,
.LZTUpSubMenu .avatarUserBadge.curator::before{
  content:'\f0e7'
}

.LZTUpSubMenu .avatarUserBadge.arbitr::before,
.LZTUpSubMenu .avatarUserBadge.main_arbitr::before{
  content:'\f0e3'
}

.LZTUpSubMenu .avatarUserBadge.telegramBot::before{
  content:'\f544'
}