// To make the copy button look normal on all pages
.copyButton {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 1px 4px;
  margin: -5px 0 0 6px;
  display: inline-block;
  color: rgb(80, 80, 80);
  &:hover {
    color: rgb(148, 148, 148);
  }
}
