:root {
    --background: rgb(5, 1, 13); // #05010d
    --background-second: #1E1A25;
    --background-third: #37343D;
    --background-fourth: #252329;
    --primary: rgb(13, 175, 119);
    --primary-600: rgba(13, 175, 119, 0.6);
    --primary-100: rgba(13, 175, 119, 0.1);
    --white: rgba(255, 255, 255, 1);
    --white-600: rgba(255, 255, 255, 0.6);
    --white-800: rgba(255, 255, 255, 0.8);
    --gradient: linear-gradient(90deg, #6080ff 0%, #9aaefd 100%);
    --error: rgb(240, 61, 61);
    --error-600: rgb(240, 61, 61, 0.6);
    --error-200: #F03D3D20;
    --success: #48D64E;
    --success-20: #48D64E20;
    --gray: #3d4451;
    --gray-hover: #303640;
}


.light-mode {
    --background: #ffffff;
    --background-second: #e5e5e5;
    --background-third: #cccccc;
    --background-fourth: #888888;
    --white: rgb(5, 1, 13); // #05010d
    --white-600: rgba(5, 1, 13, 0.6);
    --white-800: rgba(5, 1, 13, 0.8);
}

$background: var(--background); // #05010d
$background-second: var(--background-second);
$background-third: var(--background-third);
$background-fourth: var(--background-fourth);
$primary: var(--primary);
$primary-600: var(--primary-600);
$primary-100: var(--primary-100);
$white: var(--white);
$white-600: var(--white-600);
$white-800: var(--white-800);
$gradient: var(--gradient);
$error: var(--error);
$error-600: var(--error-600);
$error-200: var(--error-200);
$success: var(--success);
$success-20: var(--success-20);
$gray: var(--gray);
$gray-hover: var(--gray-hover);