@import '~/assets/styles/colors.scss';
@import '~/assets/styles/modal.scss';
@import '~/assets/styles/animations.scss';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

body {
  background: $background;
  color: $white;
}

#__nuxt {
  height: 100%;
  height: 100svh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

#__nuxt > .font-sans {
  background: transparent;
}

*[aria-hidden=true] {
  display: none;
}

a {
  text-decoration: none;
  color: $white-600;
  transition: all 0.3s ease;
  &:hover {
    color: $white;
  }
}

.error {
  color: $error;
}

.success {
  color: $success;
}

.icon {
  width: 1rem !important;
  height: 1rem !important;
  line-height: 1rem !important;
  font-size: 1rem !important;
  &.big-icon {
    width: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5rem !important;
    font-size: 1.5rem !important;
  }
}


.text-gradient {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.5s ease;
}

a.text-gradient:hover {
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1279px) {
    padding: 1rem;
  }

  @media screen and (min-width: 1280px) {
    padding: 1rem 0;
  }

  .navbar {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      .navbar-item {
        margin-left: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 1.5rem;
      font-weight: 600;
      transition: all 0.3s ease;
      img {
        height: 48px;
        margin-right: 1rem;
        margin-bottom: -5px;
      }
      &:hover {
        color: $primary;
      }
    }
    .navbar {
      margin-top: 0.5rem;
    }
  }

  .menu-btn {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}


.footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 40px;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }
  .footer-logo {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    img {
      height: 48px;
      margin-right: 1rem;
    }
  }
  .footer-links {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    a {
      font-size: 1.25rem;
      margin: 1rem;
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
  }
}

.btn-invisible {
  background: transparent;
  color: $white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  .icon.big-icon {
    margin-right: 0.5rem;
  }
  .text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    .locales {
      font-weight: 600;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-row {
  display: flex;
  flex-direction: row;
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu-content {
    margin-top: 30px;
  }
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0;
  background: $background;
  &.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  .menu-item {
    padding: 10px;
    transition: all 0.3s ease;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  position: absolute;
  margin-top: 40px;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
  }
  .dropdown-item {
    cursor: pointer;
    background: $background-second;
    border-radius: 8px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    * {
      background: $background-second;
      transition: all 0.3s ease;
    }
    &:hover {
      background: $background-third;
      * {
        background: $background-third;
      }
    }
  }
}

.wrapper {
  margin-top: 25px;
  @media screen and (max-width: 1279px) {
    padding: 0 1rem;
  }
}

.text-attractive {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  @media screen and (min-width: 768px) {
    max-width: 850px;
  }
  &.center {
    text-align: center;
    @media screen and (min-width: 768px) {
      max-width: none;
    }
  }
}

.subtext-attractive {
  margin: 30px 0;
  font-size: 1.5rem;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    max-width: 1000px;
  }
  &.center {
    text-align: center;
    @media screen and (min-width: 768px) {
      max-width: none;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 15px;
  .tag {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    background: $background-third;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  background: $primary;
  color: #fff;
  transition: all 1s ease;
  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
  &:hover {
    background: $primary-600;
  }
  &.gradient {
    background: linear-gradient(to right, #fc466b, #3f5efb);
    &:hover {
      background: $white;
      color: $primary;
    }
  }
  &.login {
    img {
      height: 28px;
      margin-right: 10px;
    }
  }
  &.error {
    background: $error;
    &:hover {
      background: $error-600;
    }
  }
}

.image-viewer {
  width: 100%;
  height: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  label {
    margin-bottom: 0.25rem;
    &.error,
    &.success {
      font-size: 0.9rem;
    }
  }

  input[type="text"],
  input[type="url"] {
    border: none;
    background: $background-third;
    letter-spacing: normal;
    color: $white;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.1rem;
    transition: all 1s ease;
    &:focus {
      outline: none;
    }
    &:invalid {
      outline: 1px solid $error;
    }
  }
}

.support-links {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 449px){
    flex-direction: column;
  }
  .support-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    @media screen and (max-width: 449px) {
      width: 80%;
    }
    @media screen and (min-width: 450px) and (max-width: 767px) {
      width: 50%;
    }
    @media screen and (min-width: 768px) and (max-width: 1027px) {
      width: 25%;
    }
    @media screen and (min-width: 1028px) {
      width: 20%;
    }
    .icon {
      width: 3rem !important;
      height: 3rem !important;
      line-height: 3rem !important;
      font-size: 3rem !important;
    }
    p, a {
      margin-left: 15px;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

nav[aria-label="Breadcrumb"] {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-bottom: 25px;
  ul {
    list-style: '/';
    display: flex;
    flex-wrap: wrap;
    li {
      &:not(:first-child) {
        padding-left: 10px;
      }
      &:first-child {
        list-style: none;
      }
      padding-right: 15px;
    }
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $background;
    border-radius: 8px;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    
    
    p {
      text-align: center;
      font-size: 1.25rem;
      margin: 0;
      padding: 0;
    }
    .button {
      margin-top: 15px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  .button {
    font-weight: 600;
    font-size: 0.875rem;
    width: 20rem;
    text-transform: uppercase;
    margin: 10px 0;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
}