.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.modal-content {
  max-width: 32rem;
  width: min(90%, 32rem);
  display: flex;
  flex-direction: column;
  background: $background-second;
  padding: 1rem;
  border-radius: 0.5rem;
  * {
    background: $background-second;
  }
  .light-mode {
    background: $background;
    * {
      background: $background;
    }
  }
  &:focus {
    outline: none;
  }
  .title {
    font-weight: 600;
    line-height: 1.5rem;
    margin: 5px;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 767px) {
      font-size: 1.25rem;
    }
  } 
}

.vfm__overlay[aria-hidden=true] {
  display: block !important;
}


.modal-content-full {
  @extend .modal-content;
  max-width: 100rem;
  max-height: 100svh;
  @media screen and (max-width: 768px) {
    max-width: 100%;
    transform: scale(0.9);
    overflow-y: auto;
  }

  .modal-text-block {
    display: flex;
    flex-wrap: wrap;
    .modal-text {
      word-wrap: anywhere;
    }
    button {
      margin-left: 0.25rem;
    }
  }



  .modal-header {
    margin-bottom: 20px;
    position: relative;
    .modal-exit {
      z-index: 10;
      position: absolute;
      float: right;
      right: 0rem;
      top: 0.5rem;
      :hover {
        opacity: 0.8;
      }
    }
  }
}